<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="__STATIC__/css/addrs.css" />
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=oVNnc5pGCCUbuDTICeA19CdS2Nnl16M2&s"></script>   
<link href="__STATIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
<link rel="stylesheet" href="__STATIC__/css/coms.css">
<script type="text/javascript" src="__STATIC__/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/jquery.charfirst.pinyin.js"></script>
    <script type="text/javascript" class="sc" src="__STATIC__/js/sort.js"></script>
    <script type="text/javascript" class="sc" src="__STATIC__/js/back.js"></script>
<title>服务条款</title>
<style type="text/css">
html,body{
  height: 100%;
  width: 100%;
  /*padding: 10px;*/
}
.title{
  width: 100%;
  padding: 20px;
  text-align: center;
}
.content{
   padding: 10px;
       font-size: 16px;
}
</style>
</head>
<body>
<div class="title">恩嘉壹智慧生活平台服务条款</div>
<div class="content">
  <p>

 一、服务条款的确认和接纳<br>

 恩嘉壹智慧生活平台涉及的产品、相关软件的所有权和运作权归广东恩嘉壹网络科技有限公司所有，用户一旦注册并勾选同意本服务条款，即表示用户与广东恩嘉壹网络科技有限公司已达成协议，自愿接受本服务条款的所有内容和相关使用流程。<br><br>

 二、用户帐户的安全性<br>

 1、用户注册成为恩嘉壹智慧生活平台的用户，必须满足以下条件：<br>

 &nbsp;&nbsp;&nbsp;(1) 用户必须是所在小区的业主或租客；<br>

 &nbsp;&nbsp;&nbsp;(2) 用户所在小区的物业公司与广东恩嘉壹网络科技有限公司已经签订了使用恩嘉壹智慧生活平台的合作协议；<br>

 &nbsp;&nbsp;&nbsp;(3) 用户有其所在物业公司或恩嘉壹系统发送的小区验证码。<br>

 2、用户一旦注册成功，成为恩嘉壹智慧生活平台的用户，将得到一个用户名和密码，并有权利使用自己的用户名及密码随时登陆 恩嘉壹智慧生活平台。<br>

 3、用户对用户名和密码的安全负全部责任，同时对以其用户名进行的所有活动和事件负全责。<br>

 4、用户不得以任何形式擅自转让或授权他人使用自己的 恩嘉壹智慧生活平台用户名。<br><br>

 三、用户声明与保证<br>

 1、用户承诺其为具有完全民事行为能力的民事主体，具有达成交易履行其义务的能力。<br>

 2、用户有义务在注册时提供自己的真实资料，并保证诸如联系电话等内容的有效性及安全性，保证 恩嘉壹智慧生活平台工作人员可以通过上述联系方式与用户取得联系。<br>同时，用户也有义务在相关资料实际变更时及时更新有关注册资料。<br>

 3、用户同意其所在小区物业公司及广东恩嘉壹网络科技有限公司通过 恩嘉壹智慧生活平台向其发送信息，包含但不限于：<br>

 &nbsp;&nbsp;&nbsp;(1) 小区的通知、宣传活动、调查表等信息；<br>

 &nbsp;&nbsp;&nbsp;(2) 用户自己的物业管理账单及水电费账单等收费凭证；<br>

 &nbsp;&nbsp;&nbsp;(3) 广告、便民商家信息、团购等商家信息；<br>

 &nbsp;&nbsp;&nbsp;(4) 其他用户向其发送的信息等。<br>

4、用户通过 恩嘉壹智慧生活平台发布的内容不得违反国家相关法律制度，包含但不限于如下原则：<br>

&nbsp;&nbsp;&nbsp;(1) 反对宪法所确定的基本原则的；<br>

&nbsp;&nbsp;&nbsp;(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>

&nbsp;&nbsp;&nbsp;(3) 损害国家荣誉和利益的；<br>

&nbsp;&nbsp;&nbsp;(4) 煽动民族仇恨、民族歧视，破坏民族团结的；<br>

&nbsp;&nbsp;&nbsp;(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；<br>

&nbsp;&nbsp;&nbsp;(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；<br>

&nbsp;&nbsp;&nbsp;(7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br>

&nbsp;&nbsp;&nbsp;(8) 侮辱或者诽谤他人，侵害他人合法权益的；<br>

&nbsp;&nbsp;&nbsp;(9) 含有法律、行政法规禁止的其他内容的。<br><br>

 四、  恩嘉壹智慧生活平台提供的服务内容

1、用户通过 恩嘉壹智慧生活平台可获得如下主要服务：<br>

&nbsp;&nbsp;&nbsp;(1) 查收其所在小区物业公司发出的通知、账单等信息；<br>

&nbsp;&nbsp;&nbsp;(2) 查看小区周围的便民商家电话、参加团购；<br>

&nbsp;&nbsp;&nbsp;(3)在线提交反馈意见给物业公司；<br>

&nbsp;&nbsp;&nbsp;(4)与小区邻居群聊或向小区邻居发送私信进行互动交流等。<br>

 2、 恩嘉壹智慧生活平台有权随时审核或者删除用户发布的涉嫌违法，或违反社会主义精神文明，或者被 恩嘉壹智慧生活平台认为不妥当的广告或者应用程序信息。<br><br>

 五、 服务的终止<br>

 在下列情况下，小区管家智能手机应用平台有权终止向用户提供服务：<br>

 1、在用户违反本服务协议相关规定时， 恩嘉壹智慧生活平台有权终止向该用户提供服务。<br>如该用户再一次直接或间接或以他人名义注册为用户的，一经发现， 恩嘉壹智慧生活平台有权直接单方面终止向该用户提供服务；<br>

 2、一旦恩嘉壹智慧生活平台发现用户提供的数据或信息中含有虚假内容的， 恩嘉壹智慧生活平台有权随时终止向该用户提供服务；<br>

 3、本服务条款终止或更新时，用户明示不愿接受新的服务条款的；<br>

 4、其它 恩嘉壹智慧生活平台认为需终止服务的情况。<br>

 服务终止后， 恩嘉壹智慧生活平台没有义务为用户保留原帐号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给用户或第三方。<br><br>

 六、 服务的变更、中断<br>

 1、鉴于网络服务的特殊性，用户需同意 恩嘉壹智慧生活平台会变更、中断部分或全部的网络服务，并删除&nbsp;&nbsp;&nbsp;(不)保存）用户在使用服务中提交的任何资料，而无需通知用户，也无需对任何用户或任何第三方承担任何责任。<br>

 2、 恩嘉壹智慧生活平台需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务在合理时间内的中断，恩嘉壹家智能手机应用平台无需为此承担任何责任。<br><br>

 七、 服务条款修改<br>

 1、 恩嘉壹智慧生活平台有权随时修改本服务条款的任何内容，一旦本服务条款的任何内容发生变动， 恩嘉壹智慧生活平台将会通过适当方式向用户提示修改内容。<br>

 2、如果不同意 恩嘉壹智慧生活平台对本服务条款所做的修改，用户有权停止使用网络服务。<br>

 3、如果用户继续使用网络服务，则视为用户接受 恩嘉壹智慧生活平台对本服务条款所做的修改。<br><br>

 八、 免责与赔偿声明<br>

 1、若 恩嘉壹智慧生活平台已经明示其服务提供方式发生变更并提醒用户应当注意事项，用户未按要求操作所产生的一切后果由用户自行承担。<br>

 2、用户明确同意其使用 恩嘉壹智慧生活平台服务所存在的风险将完全由其自己承担；<br>因其使用小区管家智能手机应用平台服务而产生的一切后果也由其自己承担。<br>

 3、用户同意保障和维护 恩嘉壹智慧生活平台及其他用户的利益，由于用户发布内容违法、不真实、不正当、侵犯第三方合法权益，或用户违反本协议项下的任何条款而给广东恩嘉壹网络科技有限公司、所在小区物业公司或其他第三人造成损失的，用户同意承担由此造成的全部赔偿责任。<br><br>

 九、 隐私声明<br>

1、适用范围：<br>

&nbsp;&nbsp;&nbsp;(1)在用户注册 恩嘉壹智慧生活平台帐户时，根据要求提供的个人注册信息；<br>

&nbsp;&nbsp;&nbsp;(2)在用户使用 恩嘉壹智慧生活平台服务时， 恩嘉壹智慧生活平台自动接收并记录的信息或数据。<br>

2、信息使用：<br>

&nbsp;&nbsp;&nbsp;(1)  恩嘉壹智慧生活平台不会向任何人出售或出借用户的个人信息，除非事先得到用户的许可。<br>

&nbsp;&nbsp;&nbsp;(2)  恩嘉壹智慧生活平台亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户的个人信息。<br>任何用户如从事上述活动，一经发现， 恩嘉壹智慧生活平台有权立即终止与该用户的服务协议，查封其帐号。<br>

&nbsp;&nbsp;&nbsp;(3)为服务用户的目的， 恩嘉壹智慧生活平台可能通过使用用户的个人信息，向用户提供服务，包括但不限于向用户发出产品和服务信息，或者与 恩嘉壹智慧生活平台合作伙伴共享信息以便他们向用户发送有关其产品和服务的信息。<br>

3、信息披露--用户的个人信息将在下述情况下部分或全部被披露：<br>

&nbsp;&nbsp;&nbsp;(1)经用户同意，向第三方披露；<br>

&nbsp;&nbsp;&nbsp;(2)根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；<br>

&nbsp;&nbsp;&nbsp;(3)如果用户出现违反中国有关法律或者网站政策的情况，需要向第三方披露；<br>

&nbsp;&nbsp;&nbsp;(4)为提供用户所要求的产品和服务，而必须和第三方分享用户的个人信息；<br>

&nbsp;&nbsp;&nbsp;(5)其它 恩嘉壹智慧生活平台根据法律或者网站政策认为合适的披露；<br><br>

以上条款的最终解释权归广东恩嘉壹网络科技有限公司所有
</p>
</div>


</body>
</html>